<!DOCTYPE html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title> Pick n Pay Online Shopping | Welcome! Start Filling Your Trolley</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="pnp online shopping." />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>

	<!-- //for-mobile-apps -->
<link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all" />
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="all" />

	<!-- font-awesome icons -->
<link th:href="@{/css/font-awesome.css}" rel="stylesheet" type="text/css" media="all" /> 

	<!-- //font-awesome icons -->

	<!-- js -->
<script th:src="@{/js/jquery-1.11.1.min.js}"></script>

	<!-- //js -->
<link th:href='@{//fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic}' rel='stylesheet' type='text/css'>
<link th:href='@{//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic}' rel='stylesheet' type='text/css'>

	<!-- start-smoth-scrolling -->
<script type="text/javascript" th:src="@{/js/move-top.js}"></script>
<script type="text/javascript" th:src="@{/js/easing.js}"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling --> 

<!--  -->
</head>
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li {
    float: left;
}

li a {
    display: block;
    color: gray;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}
</style>


<body ng-app="myapp" ng-controller="myappcontroller" background="grocery.jpg" style="background-repeat: no-repeat; background-size: auto">

	
				
<!-- Header -->	
<div class="agileits_header">
		<div class="w3l_offers">
			<a th:href="@{/customer/browse}">Start Shopping...</a>
		</div>
		<div class="w3l_search">
		
		</div>
		<div class="product_list_header">  
			<form action="#" method="post" class="last">
                
            </form>
		</div>
		<div class="w3l_header_right">
			<span style="font-color:white;" th:utext="${userName}"></span>
			<form th:action="@{/logout}" method="get">
			<button class="btn btn-danger " name="registration"
				type="Submit"  style="right: 0px; top: 30px;">Logout</button>
		    </form>
		</div>
		<div class="w3l_header_right1">
			<!--
			<h2><a href="mail.html">Contact Us</a></h2>
			-->
		</div>
		<div class="clearfix"> </div>
	</div>
	<!-- script-for sticky-nav -->
	<script>
	$(document).ready(function() {
		 var navoffeset=$(".agileits_header").offset().top;
		 $(window).scroll(function(){
			var scrollpos=$(window).scrollTop(); 
			if(scrollpos >=navoffeset){
				$(".agileits_header").addClass("fixed");
			}else{
				$(".agileits_header").removeClass("fixed");
			}
		 });
		 
	});
	</script>
<!-- //script-for sticky-nav -->
	


<div class="logo_products">
		<div class="container">
			<div class="w3ls_logo_products_left">
				<h1><a href="#"><img th:src="@{/images/pnplogo.png}" alt="Pick n Pay"></a></h1>  
			</div>
			<div class="w3ls_logo_products_left1">
				<ul class="special_items">
					 <li><a href="/customer/shop">CATEGORIES</a></li>
                     <li><a href="/customer/browse">SHOP</a></li>
  					 <li><a href="/customer/CustomerInfo">PROFILE</a></li>
  					 <li><a href="/customer/basket"> <img th:src="@{/images/bas.png} "></a>
  					 
  					<!-- <li><a href="/customer/admin/registerAdmin">Admin</a></li> -->
				</ul>
			</div>
			<div class="w3ls_logo_products_left1">
				<ul class="phone_email">
					<!--
					<li><i class="fa fa-phone" aria-hidden="true"></i>(+0123) 234 567</li>
					<li><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:info@pnp.com">info@pnp.co.za</a></li>
					-->
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //header -->



<!-- banner -->
	<div class="banner">
		
		<div class="w3l_banner_nav">
			<section class="slider" style="">
				<div class="flexslider">
					<ul class="slides">
						<li>
							<div class="w3l_banner_nav_right_banner">
								<h3>Make your <span>food</span> with Spicy.</h3>
								<div class="more">
									<a th:href="@{/customer/shop}" class="button--saqui button--round-l button--text-thick" data-text="Shop now">Shop now</a>
								</div>
							</div>
						</li>
						<li>
							<div class="w3l_banner_nav_right_banner1">
								<h3>Make your <span>food</span> with Spicy.</h3>
								<div class="more">
									<a th:href="@{/customer/shop}" class="button--saqui button--round-l button--text-thick" data-text="Shop now">Shop now</a>
								</div>
							</div>
						</li>
						<li>
							<div class="w3l_banner_nav_right_banner2">
								<h3>up to <i>50%</i> off.</h3>
								<div class="more">
									<a th:href="@{/customer/shop}" class="button--saqui button--round-l button--text-thick" data-text="Shop now">Shop now</a>
								</div>
							</div>
						</li>
						
					</ul>
					
				</div>
				
			</section>
			
			<!-- flexSlider -->
				<link rel="stylesheet" th:href="@{/css/flexslider.css}" type="text/css" media="screen" property="" />
				<script defer th:src="@{/js/jquery.flexslider.js}"></script>
				<script type="text/javascript">
				$(window).load(function(){
				  $('.flexslider').flexslider({
					animation: "slide",
					start: function(slider){
					  $('body').removeClass('loading');
					}
				  });
				});
			  </script>
			<!-- //flexSlider -->
		</div>
		
		<div class="clearfix"></div>
	</div>
<!-- banner -->

<div class="logo_products">
		<div class="container">
			
			<div class="w3ls_logo_products_left1">
				<ul class="special_items">
					 <li><a href="/customer/shop">CATEGORIES</a></li>
                     <li><a href="/customer/browse">SHOP</a></li>
  					 <li><a href="/customer/CustomerInfo">PROFILE</a></li>
  					 <li><a href="/customer/basket"> <img th:src="@{/images/bas.png} "></a>
  					 
				</ul>
			</div>
			<div class="w3ls_logo_products_left1">
				<ul class="phone_email">
					<!--
					<li><i class="fa fa-phone" aria-hidden="true"></i>(+0123) 234 567</li>
					<li><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:info@pnp.com">info@pnp.co.za</a></li>
					-->
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>


<!-- newsletter -->
	<div class="newsletter">
		<div class="container">
			<div class="w3agile_newsletter_left">
				<h3>GET THE LATEST SPECIALS SENT TO YOUR INBOX! </h3>
			</div>
			
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //newsletter -->
<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="col-md-3 w3_footer_grid">
				<h3>START SHOPPING</h3>
				<ul class="w3_footer_grid_list">
				   <li><a href="/customer/shop">CATEGORIES</a></li>
                     <li><a href="/customer/browse">SHOP</a></li>
  					 <li><a href="/customer/CustomerInfo">PROFILE</a></li>
  					
				</ul>
			</div>			
			
			<div class="clearfix"> </div>
			
			<div class="wthree_footer_copy">
				<p>© 2019 Pick n Pay All Rights Reserved | Online Shop Ts&Cs | Smart Shopper Ts&Cs | Privacy Policy | General Ts&Cs | Copyright | Returns Policy | CPA | Customer Communication | General Competition Ts&Cs</a></p>
			</div>
		</div>
	</div>
<!-- //footer -->
<!-- Bootstrap Core JavaScript -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<script>
$(document).ready(function(){
    $(".dropdown").hover(            
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
            $(this).toggleClass('open');        
        },
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
            $(this).toggleClass('open');       
        }
    );
});
</script>
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
<script src="@{/js/minicart.js}"></script>
<script>
		paypal.minicart.render();

		paypal.minicart.cart.on('checkout', function (evt) {
			var items = this.items(),
				len = items.length,
				total = 0,
				i;

			// Count the number of each item in the cart
			for (i = 0; i < len; i++) {
				total += items[i].get('quantity');
			}

			if (total < 3) {
				alert('The minimum order quantity is 3. Please add more to your shopping cart before checking out');
				evt.preventDefault();
			}
		});

	</script>

</body>
</html>